{
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"semi": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 160,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteSortOrder" : "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true
}
